<a href="https://colab.research.google.com/github/ritik-hue/pyspark/blob/main/pyspark_columnfunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=91fdc280ed16533a98efa6e2ab355a3c1bae94a0da2d49205bf0f1c320b1ead8
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [9]:
df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/data_dt.csv',inferSchema=True)

In [10]:
df_pyspark.printSchema

In [12]:
df_pyspark=spark.read.csv('/content/drive/MyDrive/data_dt.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+----------+----+-----------+---+
|Age  |Experience|Rank|Nationality| Go|
+-----+----------+----+-----------+---+
|   36|        10|   9|         UK| No|
|   42|        12|   4|        USA| No|
|   23|         4|   6|          N| No|
|   52|         4|   4|        USA| No|
|   43|        21|   8|        USA|Yes|
|   44|        14|   5|         UK| No|
|   66|         3|   7|          N|Yes|
|   35|        14|   9|         UK|Yes|
|   52|        13|   7|          N|Yes|
|   35|         5|   9|          N|Yes|
|   24|         3|   5|        USA| No|
|   18|         3|   7|         UK|Yes|
+-----+----------+----+-----------+---+

In [13]:
df_pyspark.head(3)

[Row(Age  =36, Experience=10, Rank=9, Nationality='UK', Go='No'),
 Row(Age  =42, Experience=12, Rank=4, Nationality='USA', Go='No'),
 Row(Age  =23, Experience=4, Rank=6, Nationality='N', Go='No')]

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.select(['Rank','Experience']).show()

+----+----------+
|Rank|Experience|
+----+----------+
|   9|        10|
|   4|        12|
|   6|         4|
|   4|         4|
|   8|        21|
|   5|        14|
|   7|         3|
|   9|        14|
|   7|        13|
|   9|         5|
|   5|         3|
|   7|         3|
+----+----------+

In [18]:
df_pyspark.dtypes

[('Age  ', 'int'),
 ('Experience', 'int'),
 ('Rank', 'int'),
 ('Nationality', 'string'),
 ('Go', 'string')]

In [19]:
df_pyspark.describe().show()

+-------+------------------+-----------------+------------------+-----------+----+
|summary|             Age  |       Experience|              Rank|Nationality|  Go|
+-------+------------------+-----------------+------------------+-----------+----+
|  count|                12|               12|                12|         12|  12|
|   mean|39.166666666666664|8.833333333333334| 6.666666666666667|       null|null|
| stddev|13.749931129304104|5.982297116315671|1.8748737331221843|       null|null|
|    min|                18|                3|                 4|          N|  No|
|    max|                66|               21|                 9|        USA| Yes|
+-------+------------------+-----------------+------------------+-----------+----+

In [20]:
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [21]:
df_pyspark.show()

+-----+----------+----+-----------+---+-----------------------+
|Age  |Experience|Rank|Nationality| Go|Experience After 2 year|
+-----+----------+----+-----------+---+-----------------------+
|   36|        10|   9|         UK| No|                     12|
|   42|        12|   4|        USA| No|                     14|
|   23|         4|   6|          N| No|                      6|
|   52|         4|   4|        USA| No|                      6|
|   43|        21|   8|        USA|Yes|                     23|
|   44|        14|   5|         UK| No|                     16|
|   66|         3|   7|          N|Yes|                      5|
|   35|        14|   9|         UK|Yes|                     16|
|   52|        13|   7|          N|Yes|                     15|
|   35|         5|   9|          N|Yes|                      7|
|   24|         3|   5|        USA| No|                      5|
|   18|         3|   7|         UK|Yes|                      5|
+-----+----------+----+-----------+---+-----------------------+

In [22]:
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [23]:
df_pyspark.withColumnRenamed('Age','NEWAGE').show()

+-----+----------+----+-----------+---+
|Age  |Experience|Rank|Nationality| Go|
+-----+----------+----+-----------+---+
|   36|        10|   9|         UK| No|
|   42|        12|   4|        USA| No|
|   23|         4|   6|          N| No|
|   52|         4|   4|        USA| No|
|   43|        21|   8|        USA|Yes|
|   44|        14|   5|         UK| No|
|   66|         3|   7|          N|Yes|
|   35|        14|   9|         UK|Yes|
|   52|        13|   7|          N|Yes|
|   35|         5|   9|          N|Yes|
|   24|         3|   5|        USA| No|
|   18|         3|   7|         UK|Yes|
+-----+----------+----+-----------+---+